@import url('utilities.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--orange);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body {
    font-family: 'poppins', sans-serif;
}

:root {
    --primary: #fc6600;
    --secondary: #070606;
    --dark: #161616;
    --pure: #ffffff;
    --ternary: #898989;
    --light: #f2f2f2;
    --orange: #fc6600;
}

header {
    background: var(--dark);
    clip-path: polygon(0, 0 ,100%, 0, 100% 100%, 70% 80%, 0 100%);
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
}

.container .left .branding img {
    width: 120px;
}

header nav {
    padding: 2rem 0;
}

header nav .branding {
    margin-right: 3rem;
}

header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

header nav .left a:hover {
    color: var(--primary);
}

.hero {
    padding: 1rem 0;
}

.hero .left img {
    width: 500px;
}

.hero .right {
    color: var(--pure);
    margin-top: -2rem;
}

.hero .right h6 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.hero .right h1 {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

.hero .right h1 span {
    color: var(--primary);
}
.hero .right p {
    line-height: 1.9;
    margin-bottom: 2rem;
}

section {
    padding: 6rem 0;
}

section.about .about-me-img {
    height: 450px;
}

section.about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span {
    color: var(--primary);
}

section.about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p {
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.6;
    margin-bottom: 2rem;
}

section.about .social {
    display: flex;
}

section.about .social a {
    background: var(--dark);
    color: var(--pure);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    margin-right: 0.6rem;
}

section.about .social a:hover {
    background: var(--primary);
}

.section-heading {
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1.5rem;
    line-height: 0.5;
}

.section-heading span {
    color: var(--primary);
}

.section-heading + p {
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 2rem;
    text-align: center;
}

section.services {
    background: var(--light);
}

section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
}

section.services .card-wrapper .card {
    background: var(--pure);
    padding: 1rem 1rem;
    padding-bottom: 1.5rem;
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

section.services .card-wrapper .card:hover {
    background: var(--dark);
}
section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p{
    color: var(--pure);
}

section.services .card-wrapper .card a {
    height: 25px;
    font-size: 100px;
    color: var(--orange);
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(50%);
}

section.services .card-wrapper .card h2 {
    color: var(--dark);
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.services .card-wrapper .card p {
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}

section.freelancer {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/dna.png');
    color: var(--pure);
    clip-path: polygon(0, 0 ,100%, 0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom: 6rem;
}

section.freelancer h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

section.freelancer p {
    font-family: 'Lato', sans-serif;
    margin-bottom: 2rem;
}

section.work {
    background: var(--light);
    align-items: center;
}

section.work h1, section.work p {
    margin-bottom: 3rem;
}

section.work .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

section.work .card-wrapper .card {
    position: relative;
    height: 250px;
}

section.work .card-wrapper .card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(252, 102, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

section.work .card-wrapper .card .overlay span {
    font-size: 16px;
    margin-bottom: 2rem;
}

section.work .card-wrapper .card .overlay a {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    background: var(--pure);
    box-shadow: 2px 2px var(--ternary);
    border:1px solid var(--pure);
}

section.work .card-wrapper .card:hover .overlay{
    opacity: 1;
}

section.work .card-wrapper .card .overlay a {
    color: var(--secondary);
    text-decoration: none;
}

section.contact h1, section.contact p {
    margin-bottom: 2rem;
}

section.work .card-wrapper .card img {
    height: 100%;
    width: 100%;
}

section.contact .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-bottom: 5rem;
}
 
section.contact .card-wrapper .card {
    text-align: center;
}

section.contact .card-wrapper .card img {
    width: 45px;
    color: var(--orange);
    margin-bottom: 1rem;
}

section.contact .card-wrapper .card h2 {
    font-weight: 400;
    font-family: 'poppins', sans-serif;
    margin-bottom: 0.5rem;
}

section.contact .card-wrapper .card h6 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--ternary);
}

section.contact .input-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

section.contact .input-wrap-2 {
    display: flex;
    flex-direction: column;
}

section.contact .input-wrap-2 input {
    margin-bottom: 2rem;
}

section.contact input {
    padding: 0.5rem;
    border: 1px solid var(--orange);
    font-size: 0.9rem;
}

section.contact .input-wrap-2 textarea {
    padding: 0.5rem;
    border: 1px solid var(--orange);
    font-size: 0.9rem;
}

section.contact textarea:focus, section.contact input:focus {
    outline: none;
}

section.contact .btn-wrapper {
    text-align: center;
    margin-top: 3rem;
}

footer {
    background: var(--dark);
    text-align: center;
    padding: 3rem 0;
}

footer .footer-logo {
    margin-bottom: 1.5rem;
    margin-right: 2rem;
    width: 180px;
}

footer .footer-socials {
    margin-bottom: 2rem;
    margin-bottom: 3rem;
    /* margin-right: -1rem; */
}

footer .footer-socials a{
    color: var(--pure);
    margin-right: 1rem;
}

footer .copyright {
    color: var(--ternary);
}

@media (max-width: 1024px) {
    header #main-nav {
        display: none;
    }
    .hero {
        padding-top: 4rem;
    }

    .hero .left img {
        width: 400px;
        padding-bottom: 0;
    }
    .hero .right h1 {
        font-size: 3rem;
    }

    section.about .about-me-img {
        height: 360px;
    }
}

@media (max-width: 576px) {
    html {
        width: 127%;
    }
    #icons {
        visibility: hidden;
    }
    .hero img {
        margin-top: -4rem;
    }
    .hero .right {
        text-align: center;
        align-items: center;
        margin-top: 3rem;
    }
    #home .right button {
        /* padding-right: 5rem; */
        /* margin-right: 5rem; */
    }
    .hero {
        flex-direction: column;
    }
    .about .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about .social {
        margin-left: 9rem;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.work .card img{
        height: 50px;
    }
    section.contact .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}